/* stile_esercizio4.css */
html, body{
     font: normal 16px/24px Roboto, Helvetica, sans-serif;
     margin: 0;
}

.content-wrapper{
    max-width: 1200px;
}

.logo{
    width: 100%;
    min-width: 140px;
    max-width: 170px;
}

 /* Lista di navigazione */
.nav-list {
    list-style: none;
    padding-left: 0;

    display: flex;
    justify-content: center;
    /* justify-content: flex-start; */
    align-items: center;
}

/* Items della navigazione */
.nav-item {
    margin: 0;
    padding: 0;
}

/* Links */
.nav-link {
    color: rgba(0, 0, 0, 0.8);
    border-bottom: solid 4px transparent;
    text-decoration: none;
    font-size: 18px;
    margin: 8px;
    padding: 8px;
    white-space: nowrap;
}

.nav-link:hover {
    color: #f04b54;
    border-bottom: solid 4px #f04b54;
}

.nav-link.selected {
    color: #aa8e62;
    border-bottom: solid 4px #aa8e62;
    cursor: default;
}

/* navigazione mobile */
.mobile-nav-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #caa976;
    z-index: 1000;
    display: flex;
    padding-top: 33%;
    justify-content: center;
    align-items: flex-start;
    display: none;
}

.mobile-nav-wrapper.show{
    display: flex;
}
.mobile-nav-wrapper .nav-list{
    flex-direction: column;
    padding-top: 50px;
}

.mobile-nav-wrapper .nav-item{
    margin: 15px 0;
    width: 100%;
}

.mobile-nav-wrapper .nav-link{
    font-size: 24px;
    padding: 8px 0;

}
 .mobile-nav-wrapper .nav-link.selected{
    color: #ffffff;
    border-bottom: none;
    cursor: default;
 }

 .mobile-nav-wrapper .nav-link:hover{
    color: #1939b9;
    border-bottom: none;
 }



/* Bottone di ricerca */
.btn-cerca{
    background: transparent url('../img/search.svg') no-repeat center center;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 0; /* Nasconde il testo del bottone */
    margin: 3px 10px 0 0;
}

/* Bottone menu */
.btn-menu{
    background: transparent url('../img/menu.svg') no-repeat center center;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 0; /* Nasconde il testo del bottone */
    margin: 0 10px !important;
}

/* Bottone close menu */
.btn-close{
    background: transparent url('../img/close.svg') no-repeat center center;
    background-size: cover;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 0; /* Nasconde il testo del bottone */
    position: absolute;
    top: 20px;
    right: 20px;
}


/* testo in colonne */
.testo-colonne {
    column-count: 3;
    column-gap: 40px;
    /* column-rule: solid 1px #ccc; */
}
.testo-2colonne {
    column-count: 2;
    column-gap: 40px;
    /* column-rule: solid 1px #ccc; */
}

/* stili testo */
.color-gray {
    color: rgb(180, 180, 180);
}

.font-normal {
    font-weight: normal;
}

.font-1{
    font-size: 16px;
    line-height: 20px;
}

.font-2{
    font-size: 22px;
    line-height: 30px;
}

.font-3{
    font-size: 32px;
    line-height: 40px;
}

/*Sfondo sezioni*/
.sfondo-0{
    background: transparent url(../img/uffizi.jpg) no-repeat center center;
    background-size: cover;
}

.sfondo-0 .row{
    min-height: 500px;

}
.sfondo-1{
    background-color: #f4f1ea;
}

.bg-color-white{
    background-color: #ffffff;
}

/* Media Queries */
@media (max-width: 768px) {
    .logo{
        max-width: 150px;
    }
    .testo-colonne {
        column-count: 2;
    }
    .font-3{
        font-size: 28px;
        line-height: 36px;
    }
    .font-2{
        font-size: 20px;
        line-height: 28px;
    }
}

@media (max-width: 500px) {
    .testo-colonne {
        column-count: 1;
    }
    .sfondo-0 .row{
        min-height: 700px;
    }
}
